.services {
  border-bottom: 1px solid var(--gray-light);
}

.row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.portfolio {
  border-bottom: 1px solid var(--gray-light);
}

.portfolio h2 {
  text-align: center;
}

@media screen and (min-width: 860px) {
  .row {
    flex-direction: row;
    gap: 1rem;
  }
}
