.col {
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid var(--gray-light);
  background-color: var(--white);
}

.pb-2rem {
  padding-bottom: 2rem;
}

.border-bottom {
  border-bottom: 1px solid var(--gray-light);
}

.colIMG img {
  width: 50px;
  height: auto;
  margin-bottom: 2rem;
}

.colH3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--primary-color);
}

.colMainP {
  margin-bottom: 2rem;
}

.colH4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--primary-color);
}

.colFooterP {
  font-size: 0.7rem;
  color: rgb(138, 138, 138);
}
